%div.toolbar{ :id => utility.name.parameterize }
  %h1 Blathy
  %a.back{ :href => "#back" } Back
  = form_for @reading, :remote => true do |f|
    - if utility.readings.last
      %div.panel
        = image_tag("#{utility.icon}-big.png")
        %h2 LAST READING
        %p.value= utility.readings.last.value
        %p.month
          = pluralize(Time.now.month - utility.readings.last.measured_at.month, "month")
          ago
        %div.graph{ :id => "#{utility.name.parameterize}-graph" }
        - content_for :extra_javascripts do
          = javascript_include_tag graph_path(utility.id)
    %ul.rounded
      %li
        = f.text_field :value, { :placeholder => "#{utility.name} value", :size => 24 } # TODO: Value is not sent when the type is set to tel (:type  => :tel)
      %li
        = f.date_select :measured_at, :start_year => Time.now.year - 2, :end_year => Time.now.year
    = hidden_field :reading, :utility_id, :value => utility.id
    %a.submit Save
  %a.panel.back.result{ :href => "#back" }
    %p= image_tag("gauge.png", :alt => "")
    %p READING ADDED