= form_for @reading, :remote => true, :html => { :id => utility.name.parameterize } do |f|
  %div.toolbar
    %h1 Blathy
    %a.back{ :href => "#back" } Back
  %div.panel
    Last value
    = @last_value
  %ul.rounded
    %li
      = f.text_field :value, { :placeholder => "#{utility.name} value", :size => 24 } # TODO: Value is not sent when the type is set to tel (:type  => :tel)
    %li
      = f.date_select :measured_at, :start_year => Time.now.year - 2, :end_year => Time.now.year
  = hidden_field :reading, :utility_id, :value => utility.id
  %a.submit Save