= form_for @reading, :url => readings_path, :remote => true, :html => {:id => utility, :class => 'form'} do |f|
  %div.toolbar
    %h1= utility.capitalize
    %a.back{:href => '#'} Home
  %ul.rounded
    %li
      = f.label :value
      = f.text_field :value
    %li
      = f.label :measured_at
      = f.date_select :measured_at
  = hidden_field :reading, :utility, :value => utility
  %a.submit.grayButton.smallButton Save