!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Blathy
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
    = javascript_include_tag "rails"
    = javascript_include_tag "/jqtouch/jqtouch.min.js"
    = stylesheet_link_tag "/jqtouch/jqtouch.min.css"
    = stylesheet_link_tag "/themes/jqt/theme.min.css"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
  = yield

